/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 71.3%;
  /* 1140 px*/
  margin: 0 auto;
}

.products-container {
  width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}

.link {
  text-decoration-line: none;
  color: #6F6E6E;
}

.button {
  border: 1px solid #FF6A6A;
  text-align: center;
  cursor: pointer;
}

.button__link {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration-line: none;
}

.button__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.button__text_pink {
  color: #F26376;
}

.button__icon {
  fill: #FFFFFF;
}

.button__icon_pink {
  fill: #F26376;
}

@media (max-width: 1599px) {
  .products-container {
    width: 736px;
  }
}

@media (max-width: 1599px) {
  .container {
    width: 95.8%;
    /* 736px */
  }
}

@media (max-width: 767px) {
  .container {
    width: 91.5%;
    /* 343px */
  }
  .products-container {
    width: 91.5%;
  }
}

.header {
  background-color: #222222;
}

.header__wrapper {
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 41px;
}

.header__right-inner {
  width: 168px;
  min-height: 32px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__image {
  fill: #E8E8E8;
}

.header__image:hover {
  fill: #F16D7F;
  cursor: pointer;
}

.header .header__menu-button {
  border: none;
  background-color: transparent;
}

.header .header__nav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 169%;
  left: 100%;
}

.header .header__menu-button:active + .header__nav,
.header .header__menu-button:focus + .header__nav {
  display: block;
}

.header__link_cart {
  position: relative;
}

.header__link_cart::after {
  content: '5';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -9px;
  width: 19px;
  height: 19px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-radius: 50%;
  text-decoration-line: none;
}

@media (max-width: 1599px) {
  .header__left-inner {
    margin-left: 2.2%;
  }
  .header__right-inner {
    margin-right: 3.4%;
  }
  .header .header__nav {
    left: 0%;
  }
}

@media (max-width: 767px) {
  .header__right-inner {
    justify-content: flex-end;
  }
  .header .header__nav {
    left: -50%;
  }
  .header__link {
    display: none;
  }
}

@media (max-width: 374px) {
  .header__left-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.4%;
  }
  .header__logo {
    margin: 0;
  }
}

.nav {
  min-width: 232px;
  min-height: 767px;
  padding: 37px 0 0 34px;
  position: relative;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.nav__button {
  position: absolute;
  top: 16px;
  right: 17px;
  border: none;
  background-color: transparent;
  fill: #6F6E6E;
}

.nav__button:hover {
  cursor: pointer;
}

.nav__button:active + .nav {
  display: none;
}

.nav__title {
  margin-bottom: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.nav-item__link {
  display: block;
  margin-bottom: 12px;
  color: #F16D7F;
  text-transform: uppercase;
}

.nav-item__list {
  margin-bottom: 20px;
}

.nav-item__item {
  padding-left: 22px;
  margin-bottom: 11px;
}

.brand {
  display: flex;
  justify-content: center;
  min-height: 368px;
  background-color: #F1E4E6;
}

.brand__left-inner {
  width: 800px;
}

.brand__image {
  width: 100%;
  height: 100%;
}

.brand__right-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 708px;
  padding-left: 92px;
}

.brand__title {
  position: relative;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}

.brand__title::before {
  content: '';
  width: 12px;
  height: 92px;
  position: absolute;
  left: -28px;
  background-size: 12px 92px;
  background-color: #F16D7F;
}

.brand__subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #222222;
  white-space: nowrap;
}

.brand__text_pink {
  color: #F16D7F;
}

@media (max-width: 1599px) {
  .brand__left-inner {
    width: 50%;
    /*384 px*/
  }
  .brand__right-inner {
    width: 41.3%;
    /*317 px*/
    padding-left: 8.7%;
    /*317 px*/
  }
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand {
    min-height: 363px;
  }
  .brand__left-inner {
    display: none;
  }
  .brand__right-inner {
    width: 375px;
    align-items: center;
    padding-left: 27px;
  }
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
  .brand__title::before {
    height: 61px;
    top: 5px;
  }
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.stocks__list {
  min-height: 470px;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.stocks__item {
  width: 31.6%;
  /* 360 px - desktop*/
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.stocks__item_theme_women {
  background-image: url(../img/for-women.jpg);
}

.stocks__item_theme_men {
  background-image: url(../img/for-man.jpg);
}

.stocks__item_theme_kids {
  background-image: url(../img/for-kids.jpg);
}

.stocks__item_theme_accesories {
  width: 100%;
  min-height: 180px;
  background-image: url(../img/accesories.jpg);
}

@media (max-width: 1599px) {
  .stocks__list {
    min-height: 303px;
    margin-top: 20px;
  }
  .stocks__item {
    width: 31.5%;
    /* 232 px */
    min-height: 168px;
  }
  .stocks__item_theme_accesories {
    width: 100%;
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .stocks__list {
    min-height: 948px;
    margin-top: 64px;
    justify-content: center;
  }
  .stocks__item {
    width: 100%;
    /* 343 px */
    min-height: 247px;
  }
  .stocks__item_theme_accesories {
    width: 100%;
    min-height: 111px;
  }
}

.stocks-item__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
}

.stocks-item__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 97px 0 96px 0;
}

.products__title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.products__text {
  color: #9F9F9F;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 48px 0 18px 0;
}

.products__item {
  width: 360px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background: #F8F8F8;
}

.products__button {
  padding: 14px 38px;
  background-color: #FFFFFF;
}

.products__button:hover {
  background-color: #F16D7F;
}

.products__button:hover .button__link {
  color: #FFFFFF;
}

@media (max-width: 1599px) {
  .products__wrapper {
    padding: 155px 0 65px 0;
  }
  .products__title {
    margin-bottom: 3px;
  }
  .products__list {
    margin: 73px 0 16px 0;
  }
  .products__item {
    margin-bottom: 17px;
  }
}

@media (max-width: 767px) {
  .products__wrapper {
    padding: 64px 0 96px 0;
  }
  .products__list {
    justify-content: center;
    margin: 65px 0 25px 0;
  }
  .products__item {
    margin-bottom: 16px;
  }
}

@media (max-width: 374px) {
  .products__item {
    width: 100%;
  }
}

.product-card__wrapper {
  position: relative;
  margin-bottom: 25px;
}

.product-card__wrapper:before {
  content: '';
  width: 360px;
  min-height: 420px;
  position: absolute;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product-card__wrapper:before {
  display: none;
}

.product-card__button {
  position: absolute;
  top: 50%;
  left: 50%;
  justify-content: space-between;
  align-items: center;
  min-width: 138px;
  height: 43px;
  padding: 11px 16px 12px 13px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

.product-card__button {
  display: none;
}

.product-card__name {
  margin-bottom: 13px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.product-card__description {
  margin-bottom: 18px;
  padding-left: 16px;
  font-weight: 300;
  color: #5D5D5D;
}

.product-card__text {
  padding-left: 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.product-card:hover .product-card__button {
  display: flex;
}

.product-card:hover .product-card__wrapper::before {
  display: block;
}

@media (max-width: 374px) {
  .product-card__image {
    width: 100%;
    height: 100%;
  }
}

.features {
  background-color: #222222;
}

.features__list {
  display: flex;
  justify-content: space-between;
  padding: 103px 0;
}

.features__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FBFBFB;
}

@media (max-width: 1599px) {
  .features__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 64px 0;
  }
  .features__item {
    width: 100%;
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .features__list {
    padding: 0 0 81px 0;
  }
}

.features-item__image_margin_delivery {
  margin-bottom: 28px;
}

.features-item__image_margin_sales {
  margin-bottom: 19px;
}

.features-item__image_margin_quality {
  margin-bottom: 25px;
}

.features-item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 16px;
}

.features-item__descr {
  width: 310px;
  text-align: center;
}

@media (max-width: 767px) {
  .features-item__image_margin_delivery {
    margin-bottom: 27px;
  }
  .features-item__image_margin_sales {
    margin-bottom: 18px;
  }
  .features-item__image_margin_quality {
    margin-bottom: 24px;
  }
  .features-item__title {
    margin-bottom: 15px;
  }
}

@media (max-width: 350px) {
  .features-item__descr {
    width: 100%;
  }
}

.footer {
  background-color: #222222;
}

.footer__top {
  min-height: 448px;
  background: url(../img/footer-background.png);
  background-position: center;
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 97px 0 0 0;
}

.footer__image {
  margin-bottom: 30px;
}

.footer__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #222222;
}

.footer__newsletter {
  padding: 155px 97px 0 0;
}

.footer__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.footer__subtitle {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}

.footer__form {
  display: flex;
  justify-content: center;
  min-height: 49px;
}

.footer__input {
  min-width: 212px;
  padding: 0 22px;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  outline: none;
}

.footer__input:focus {
  border: 1px solid #F16D7F;
}

.footer__button {
  min-width: 100px;
  padding: 0 18px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
}

.footer__bottom {
  min-height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  width: 251px;
  text-align-last: justify;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

@media (max-width: 1599px) {
  .footer__top {
    min-height: 614px;
    background-size: auto 100%;
  }
  .footer__top-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 0 0 0;
  }
  .footer__info {
    padding: 0;
  }
  .footer__newsletter {
    margin: 72px 0 0 0;
    padding: 0;
  }
  .footer__copyright {
    margin: 0 0 0 16px;
  }
  .footer__socials {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 767px) {
  .footer__top {
    min-height: 550px;
    background-position: contain;
  }
  .footer__newsletter {
    margin: 65px 0 0 0;
  }
  .footer__title {
    font-size: 24px;
    line-height: 37px;
    font-weight: 400;
    font-style: normal;
  }
  .footer__subtitle {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
  .footer__form {
    min-height: 47px;
  }
  .footer__input {
    width: 203px;
    padding: 0 21px;
  }
  .footer__button {
    width: 96px;
    padding: 0 18px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 43px 0 9px 0;
  }
  .footer__copyright {
    margin: 0;
  }
  .footer__socials {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 374px) {
  .footer__input {
    min-width: 0;
    width: 59%;
    /* 203px */
    padding: 0 6.1%;
    /* 21px */
  }
  .footer__button {
    min-width: 0;
    width: 28%;
    /* 96px */
    padding: 0 5.2%;
    /* 18px */
    word-wrap: break-word;
  }
}

.socials {
  width: 148px;
  display: flex;
  justify-content: space-between;
}

.socials__link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}

.socials__icon {
  fill: #000000;
}

.socials__link:hover {
  background-color: #F16D7F;
}

.socials__link:hover .socials__icon {
  fill: #FFFFFF;
}

.breadcrumb {
  background-color: #F8F3F4;
}

.breadcrumb .breadcrumb__wrapper {
  display: flex;
  align-items: center;
  min-height: 148px;
}

.breadcrumb .breadcrumb__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

@media (max-width: 767px) {
  .breadcrumb .breadcrumb__wrapper {
    justify-content: center;
  }
}

.registration {
  display: flex;
  justify-content: space-between;
  padding: 64px 0 97px 0;
}

.registration__form {
  width: 360px;
}

.registration__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 31px;
}

.registration__radio-inner {
  margin-bottom: 33px;
}

.registration__radio-button {
  display: none;
}

.registration__radio-label {
  position: relative;
  margin: 0 20px 0 28px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.registration__radio-label:before {
  content: '';
  height: 16px;
  position: absolute;
  left: -28px;
  width: 16px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}

.registration__radio-button:checked + .registration__radio-label:before {
  background: #F16D7F;
  background-size: 16px 16px;
}

.registration__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 167px;
  margin-top: 39px;
  padding: 16px 20px 17px 29px;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

.registration__button:hover {
  background-color: #F16D7F;
}

.registration__button:hover .button__text {
  color: #FFFFFF;
}

.registration__button:hover .button__icon {
  fill: #FFFFFF;
}

.registration__loyalty-program {
  width: 57.2%;
  /* 652px - desktop */
}

@media (max-width: 1599px) {
  .registration {
    padding: 40px 0 97px 0;
  }
  .registration__loyalty-program {
    width: 48.1%;
    /* 652px - desktop */
  }
}

@media (max-width: 767px) {
  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .registration__button {
    margin: 39px 0 40px 0;
  }
  .registration__loyalty-program {
    width: 359px;
  }
}

@media (max-width: 374px) {
  .registration__form {
    width: 104.4%;
  }
  .registration__loyalty-program {
    width: 104.4%;
  }
}

.fieldset__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.fieldset__legend_shipping-adress {
  text-transform: uppercase;
  color: #000000;
}

.fieldset__input {
  width: 100%;
  min-height: 45px;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 13px 17px 15px 17px;
  outline: none;
  border: 1px solid #A4A4A4;
}

.fieldset__input::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

.fieldset__input:focus {
  border: 1px solid #F16D7F;
}

.fieldset__text {
  margin-top: 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}

.fieldset__button {
  min-width: 101px;
  margin-top: 24px;
  padding: 10px 14px 12px 14px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-decoration-line: none;
  color: #4A4A4A;
}

.fieldset__button:hover {
  border: 1px solid #FF6A6A;
  background-color: #F16D7F;
  color: #FFFFFF;
}

.loyalty__title, .loyalty__text, .loyalty__item {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.loyalty__title {
  margin-bottom: 22px;
  text-transform: uppercase;
}

.loyalty__text {
  margin-bottom: 21px;
}

.loyalty__item {
  margin-bottom: 17px;
  padding-left: 43px;
  position: relative;
}

.loyalty__item:before {
  content: ' ';
  width: 20px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 8px;
  background: #FFFFFF;
  background-image: url(../img/check-icon.svg);
  background-size: 20px 16px;
}

@media (max-width: 1599px) {
  .loyalty__title, .loyalty__text, .loyalty__item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
  .loyalty__title {
    margin-bottom: 32px;
  }
  .loyalty__text {
    margin-bottom: 22px;
  }
  .loyalty__item:before {
    top: 4px;
  }
}

.cart__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 129px;
}

.cart__list {
  margin-bottom: 72px;
}

.cart__button-wrapper {
  display: flex;
  justify-content: space-between;
}

.cart__button {
  min-width: 225px;
  min-height: 50px;
  padding: 17px 40px 16px 39px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
}

.cart__button-link {
  text-transform: uppercase;
  text-decoration-line: none;
  color: #000000;
}

.cart__button:hover {
  border: 1px solid #FF6A6A;
  background-color: #F16D7F;
}

.cart__button:hover .cart__button-link {
  color: #FFFFFF;
}

.cart__form {
  width: 360px;
  margin-top: 17px;
}

.cart-product-card {
  display: flex;
  width: 652px;
  min-height: 306px;
  border: 1px solid #EAEAEA;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.cart-product-card__inner {
  box-sizing: border-box;
  padding: 22px 97px 0 31px;
}

.cart-product-card__name {
  display: inline-block;
  width: 262px;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.cart-product-card__exit-button {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  background-color: transparent;
  fill: #6F6E6E;
}

.cart-product-card__item {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
}

.cart-product-card__text {
  color: #F16D7F;
}

.cart-product-card__input {
  width: 43px;
  min-height: 24px;
  border: 1px solid #EAEAEA;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #656565;
  outline: none;
}

.cart-form__fieldset {
  margin-bottom: 57px;
}

.cart-form__inner {
  padding: 39px 0 42px 0;
  background: #F5F3F3;
}

.cart-form__container {
  width: 273px;
  margin: 0 auto;
}

.cart-form__text {
  text-transform: uppercase;
  text-align: end;
}

.cart-form__text_sub-total {
  min-width: 103px;
  min-height: 13px;
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
}

.cart-form__text_grand-total {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.cart-form__price-text {
  margin-left: 15px;
}

.cart-form__price-text_grand {
  font-weight: 700;
  color: #F16D7F;
}

.cart-form__line {
  background: #E2E2E2;
  opacity: 0.2;
}

.cart-form__button {
  min-width: 273px;
  min-height: 50px;
  padding: 14px 37px 15px 35px;
  margin-top: 17px;
  background-color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */