.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 71.3%;
    /* 1140 px*/
    margin: 0 auto;
}

.products-container {
    width: 1140px;
    margin: 0 auto;
}

.text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
}

.link {
    text-decoration-line: none;
    color: $link-color;
}

.button {
    border: 1px solid #FF6A6A;
    text-align: center;
    cursor: pointer;

    &__link {
        font-size: 16px;
        line-height: 19px;
        color: $button-link-color;
        text-decoration-line: none;
    }

    &__icon {
        fill: $white-color;
    }
}

@media (max-width: 1599px) {
    .products-container {
        width: 736px;
    }
}


@media (max-width: $max-tablet-width) {
    .container {
        width: 95.8%;
        /* 736px */
    }
}

@media (max-width: $max-mobile-width) {
    .container {
        width: 91.5%;
        /* 343px */
    }

    .products-container {
        width: 91.5%;
    }
}