.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

body {
    font-family: "lato", sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1140px;
    /* 1140 px*/
    margin: 0 auto;
}

.products-container {
    width: 1140px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
}

.link {
    text-decoration-line: none;
    color: $link-color;
}

.link:hover {
    color: $pink-color;
}

.button {
    background: transparent;
    text-align: center;
    cursor: pointer;

    &__icon {
        fill: $white-color;
    }

    &__icon_pink {
        fill: $button-link-color;
    }

    &__icon_cart_product-page {
        width: 26px;
        height: 24px;
    }
}

.button:hover {
    background-color: $pink-color;
    color: $white-color;
    border: 1px solid #FF6A6A;
}

.button:hover .button__icon {
    fill: $white-color;
}

@media (max-width: $max-tablet-width) {
    .container {
        width: 95.8%;
        /* 736px */
    }

    .products-container {
        width: 736px;
    }
}

@media (max-width: $max-mobile-width) {
    .container {
        width: 91.5%;
        /* 343px */
    }

    .products-container {
        width: 360px;
    }
}

@media (max-width: 374px) {
    .products-container {
        width: 96%;
    }
}