$super-black-color: #000000;
$black-color: #222222;
$light-pink-color: #F1E4E6;
$breadcrumb-color: #F8F3F4;
$pink-color: #F16D7F;
$button-link-color: #F26376;
$white-color: #FFFFFF;
$icon-color: #E8E8E8;
$grey-color: #9F9F9F;
$dark-grey-color: #5D5D5D;
$grey-white-color: #FBFBFB;
$placeholder-color: #B1B1B1;
$cart-product-card-text: #575757;
$cart-form-button-color:#4A4A4A;
$cart-form-bottom-bkg-color: #F5F3F3;
$hr-color: #E2E2E2;
$link-color: #6F6E6E;

$max-tablet-width: 1599px;
$max-mobile-width: 767px;