$super-black-color: #000000;
$black-color: #222222;
$light-pink-color: #F1E4E6;
$breadcrumb-color: #F8F3F4;
$pink-color: #F16D7F;
$white-color: #FFFFFF;
$icon-color: #E8E8E8;
$grey-color: #9F9F9F;
$dark-grey-color: #5D5D5D;
$grey-white-color: #FBFBFB;
$placeholder-color: #B1B1B1;