.brand {
	@include flex-x-center;
	background-color: $light-pink-color;

	&__wrapper {
		@include flex-column-y-center;
		width: 708px;
		padding-left: 92px;
	}

	&__title {
		position: relative;
		@include font(48px, 58px, 900);
		color: $black-color;
		text-transform: uppercase;
	}

	&__title::before {
		content: '';
		width: 12px;
		height: 92px;
		position: absolute;
		left: -28px;
		background-size: 12px 92px;
		background-color: $pink-color;
	}

	&__subtitle {
		@include font(32px, 38px, 700);
		text-transform: uppercase;
		color: $black-color;
		white-space: nowrap;
	}

	&__text_pink {
		color: $pink-color;
	}
}