.breadcrumb {
	@include flex-y-center;
	min-height: 148px;
	background-color: $breadcrumb-color;

	.breadcrumb__title {
		@include font(24px, 29px);
		text-transform: uppercase;
		color: $pink-color;
	}
}