.breadcrumb {
	background-color: $breadcrumb-color;

	.breadcrumb__wrapper {
		@include flex-y-center;
		min-height: 148px;
	}

	.breadcrumb__title {
		@include font(24px, 29px);
		text-transform: uppercase;
		color: $pink-color;
	}
}

@media (max-width: $max-mobile-width) {
	.breadcrumb {
		.breadcrumb__wrapper {
			justify-content: center;
		}
	}
}