.breadcrumb {
    margin: 0;

    &__item {
        @include font(14px, 17px, 300);
        color: $breadcrumb-link-color;
        text-transform: uppercase;
    }

    &__item_active {
        @include font(14px, 17px, 700);
        color: $pink-color;
    }
}

@media (max-width: 374px) {
    .breadcrumb {
        &__list {
            justify-content: center;
        }
    }
}