.cart-product-card {
	display: flex;
	width: 652px;
	min-height: 306px;
	border: 1px solid #EAEAEA;
	position: relative;
	margin-bottom: 40px;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

	&__inner {
		box-sizing: border-box;
		padding: 22px 97px 0 31px;
	}

	&__name {
		display: inline-block;
		width: 262px;
		margin-bottom: 42px;
		@include font(24px, 29px);
		color: $super-black-color;
		text-transform: uppercase;
	}

	&__exit-button {
		position: absolute;
		top: 28px;
		right: 22px;
		border: none;
		background-color: transparent;
		fill: #6F6E6E;
	}

	&__item {
		margin-bottom: 6px;
		@include font(22px, 26px);
		color: $cart-product-card-text;
	}

	&__text {
		color: $pink-color;
	}

	&__input {
		width: 43px;
		min-height: 24px;
		border: 1px solid #EAEAEA;
		@include font(18px, 22px);
		text-align: center;
		color: #656565;
		outline: none;
	}
}