.cart-form {
	&__fieldset {
		margin-bottom: 57px;
	}

	&__inner {
		padding: 39px 0 42px 0;
		background: $cart-form-bottom-bkg-color;
	}

	&__container {
		width: 273px;
		margin: 0 auto;
	}

	&__text {
		text-transform: uppercase;
		text-align: end;
	}

	&__text_sub-total {
		min-width: 103px;
		min-height: 13px;
		margin-bottom: 12px;
		@include font(11px, 13px);
		color: $cart-form-button-color;
	}

	&__text_grand-total {
		margin-bottom: 21px;
		@include font(16px, 19px, 300);
		color: $super-black-color;
	}

	&__price-text {
		margin-left: 15px;
	}

	&__price-text_grand {
		font-weight: 700;
		color: $pink-color;
	}

	&__line {
		background: $hr-color;
		opacity: 0.2;
	}

	&__button {
		min-width: 273px;
		min-height: 50px;
		padding: 14px 37px 15px 35px;
		margin-top: 17px;
		background-color: $pink-color;
		@include font(16px, 19px, 300);
		color: $white-color;
		text-transform: uppercase;
		white-space: nowrap;
	}
}