.cart-product-card {
	display: flex;
	min-height: 306px;
	position: relative;
	box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

	&__inner {
		box-sizing: border-box;
		padding: 22px 97px 0 31px;
	}

	&__name {
		display: block;
		width: 262px;
		margin: 0 0 42px 0;
		@include font(24px, 29px);
		color: $super-black-color;
		text-transform: uppercase;
	}

	&__exit-button {
		position: absolute;
		top: 28px;
		right: 22px;
		border: none;
		background-color: transparent;
		fill: $link-color;
		cursor: pointer;
	}

	&__item {
		margin: 0 0 6px 0;
		@include font(22px, 26px);
		color: $cart-product-card-text;
	}

	&__text {
		color: $pink-color;
	}

	&__input {
		width: 43px;
		min-height: 24px;
		border: 1px solid #EAEAEA;
		@include font(18px, 22px);
		text-align: center;
		color: $cart-product-card-input-color;
		outline: none;
	}
}

@media (max-width: $max-mobile-width) {
	.cart-product-card {
		min-height: 188px;

		&__image {
			width: 144px;
			height: 188px;
		}

		&__inner {
			padding: 14px 53px 0 17px;
		}

		&__name {
			width: 144px;
			margin: 0 0 26px 0;
			@include font(16px, 19px);
		}

		&__exit-button {
			top: 17px;
			right: 12px;
		}

		&__exit-icon {
			width: 10px;
			height: 11px;
		}

		&__item {
			margin: 0 0 4px 0;
			@include font(16px, 19px);
		}

		&__input {
			@include font(12px, 14px);
		}
	}
}

@media (max-width: 374px) {
	.cart-product-card {
		&__inner {
			padding: 4% 15% 0 5%;
		}

		&__name {
			width: 67%;
			margin: 0 0 12% 0;
		}
	}
}