.features-item {
	&__image_margin_delivery {
		margin-bottom: 28px;
	}

	&__image_margin_sales {
		margin-bottom: 19px;
	}

	&__image_margin_quality {
		margin-bottom: 25px;
	}

	&__title {
		@include font(20px, 24px);
		margin-bottom: 16px;
	}

	&__descr {
		width: 310px;
		text-align: center;
	}
}