.fieldset {

	.fieldset__legend {
		font-size: 16px;
		line-height: 19px;
		color: $black-color;
	}

	.fieldset__input {
		width: 100%;
		min-height: 45px;
		margin-top: 20px;
		box-sizing: border-box;
		padding: 13px 17px 15px 17px;
		outline: none;
		border: 1px solid #A4A4A4;
	}

	.fieldset__input::placeholder {
		color: $placeholder-color;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
	}

	.fieldset__input:focus {
		border: 1px solid $pink-color;
	}

	.fieldset__text {
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: $placeholder-color;
		margin-top: 15px;
	}

}