.header {
	background-color: $black-color;

	&__wrapper {
		min-height: 75px;
		@include flex-space-between;
		align-items: center;
	}

	&__logo {
		margin-right: 41px;
	}

	&__right-inner {
		width: 168px;
		min-height: 32px;
		position: relative;
		@include flex-space-between;
		align-items: center;
	}

	&__image {
		fill: $icon-color;
	}

	&__image:hover {
		fill: $pink-color;
		cursor: pointer;
	}

	.header__menu-button {
		border: none;
		background-color: transparent;
		height: 23px;
	}

	.header__nav {
		display: none;
		position: absolute;
		z-index: 1;
		top: 169%;
		left: 100%;
	}

	// .header__menu-button:active+.header__nav,
	// .header__menu-button:focus+.header__nav {
	// 	display: block;
	// }

	.header__menu-button:checked+.header__nav {
		display: block;
	}

	&__link_cart {
		position: relative;
	}

	&__link_cart::after {
		content: '5';
		@include flex-x-y-center;
		position: absolute;
		top: -5px;
		right: -9px;
		width: 19px;
		height: 19px;
		@include font(12px, 14px);
		color: $white-color;
		background-color: $pink-color;
		border-radius: 50%;
		text-decoration-line: none;
	}
}

@media (max-width: $max-tablet-width) {
	.header {
		&__left-inner {
			margin-left: 2.2%;
		}

		&__right-inner {
			margin-right: 3.4%;
		}

		.header__nav {
			left: 0%;
		}
	}
}

@media (max-width: $max-mobile-width) {
	.header {
		&__right-inner {
			justify-content: flex-end;
		}

		.header__nav {
			left: -50%;
		}

		&__link {
			display: none;
		}
	}
}

@media (max-width: 374px) {
	.header {
		&__left-inner {
			@include flex-space-between;
			align-items: center;
			width: 32.4%;
		}

		&__logo {
			margin: 0;
		}
	}
}