.header {
	background-color: $black-color;

	&__wrapper {
		min-height: 75px;
		@include flex-space-between;
		align-items: center;
	}

	&__logo {
		margin-right: 41px;
	}

	&__inner {
		width: 169px;
		position: relative;
		@include flex-space-between;
	}

	&__image {
		fill: $icon-color;
	}

	&__image:hover {
		fill: $pink-color;
		cursor: pointer;
	}

	&__menu-button {
		border: none;
		background-color: transparent;
	}

	&__nav {
		display: none;
		position: absolute;
		z-index: 1;
		top: 54px;
		left: 169px;
	}

	&__menu-button:active+&__nav,
	&__menu-button:focus+&__nav {
		display: block;
	}

	&__link_cart {
		position: relative;
	}

	&__link_cart::after {
		content: '5';
		@include flex-x-y-center;
		position: absolute;
		top: -5px;
		right: -9px;
		width: 19px;
		height: 19px;
		@include font(12px, 14px);
		color: $white-color;
		background-color: $pink-color;
		border-radius: 50%;
		text-decoration-line: none;
	}
}