.header {
	background-color: $black-color;

	.header__wrapper {
		min-height: 75px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		margin-right: 41px;
	}

	.header__inner {
		width: 169px;
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	.header__image {
		fill: $icon-color;
	}

	.header__image:hover {
		fill: $pink-color;
		cursor: pointer;
	}

	.header__menu-button {
		border: none;
		background-color: transparent;
	}

	.header__nav {
		display: none;
		position: absolute;
		z-index: 1;
		top: 54px;
		left: 169px;
	}

	.header__menu-button:active+.header__nav,
	.header__menu-button:focus+.header__nav {
		display: block;
	}

	.header__link_cart {
		position: relative;
	}

	.header__link_cart::after {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		content: '5';
		font-size: 12px;
		line-height: 14px;
		color: $white-color;
		top: -5px;
		right: -9px;
		width: 19px;
		height: 19px;
		background-color: $pink-color;
		border-radius: 50%;
		text-decoration-line: none;
	}
}