.loyalty {

	&__title,
	&__text,
	&__item {
		@include font(24px, 29px, 300);
		color: $super-black-color;
	}

	&__title {
		margin: 0 0 22px 0;
		text-transform: uppercase;
	}

	&__text {
		margin: 0 0 21px 0;
	}

	&__item {
		margin: 0 0 17px 0;
		padding: 0 0 0 43px;
		position: relative;
	}

	&__item:before {
		content: ' ';
		width: 20px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 8px;
		background-color: $white-color;
		background-image: url(../img/check.svg);
		background-size: 20px 16px;
	}
}

@media (max-width: $max-tablet-width) {
	.loyalty {

		&__title,
		&__text,
		&__item {
			@include font(16px, 19px, 300);
		}

		&__title {
			margin: 0 0 32px 0;
		}

		&__text {
			margin: 0 0 22px 0;
		}

		&__item:before {
			top: 4px;
		}
	}
}