.loyalty {

	&__title,
	&__text,
	&__item {
		@include font(24px, 29px, 300);
		color: $super-black-color;
	}

	&__title {
		margin-bottom: 22px;
		text-transform: uppercase;
	}

	&__text {
		margin-bottom: 21px;
	}

	&__item {
		margin-bottom: 16px;
		padding-left: 43px;
		position: relative;
	}

	&__item:before {
		content: ' ';
		width: 20px;
		height: 16px;
		position: absolute;
		left: 0;
		top: 8px;
		background: $white-color;
		background-image: url(../img/check-icon.svg);
		background-size: 20px 16px;
	}
}