.nav-item {
	&__link {
		display: block;
		margin-bottom: 12px;
		color: $pink-color;
		text-transform: uppercase;
	}

	&__list {
		margin-bottom: 20px;
	}

	&__item {
		padding-left: 22px;
		margin-bottom: 11px;
	}
}