.nav {
	min-width: 232px;
	min-height: 764px;
	padding: 37px 0 0 34px;
	position: relative;
	background: $white-color;
	box-sizing: border-box;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

	&__button {
		position: absolute;
		top: 16px;
		right: 17px;
		border: none;
		background-color: transparent;
		fill: #6F6E6E;
	}

	&__button:hover {
		cursor: pointer;
	}

	&__button:active+.nav {
		display: none;
	}

	&__title {
		margin-bottom: 24px;
		font-weight: 700;
		color: $super-black-color;
		text-transform: uppercase;
	}
}