.nav-item {
	&__link {
		display: block;
		margin: 0 0 12px 0;
		color: $pink-color;
		text-transform: uppercase;
	}

	&__list {
		margin: 0 0 20px 0;
	}

	&__item {
		margin: 0 0 11px 0;
		padding: 0 0 0 22px;
	}
}