.pagination {
	width: 283px;
	height: 43px;
	border: 1px solid #EBEBEB;

	&__list {
		width: 100%;
		@include flex-space-between;
		align-items: center;
		padding: 12px 15px;
		box-sizing: border-box;
	}

	&__icon {
		fill: $super-black-color;
	}

	&__link {
		display: block;
		@include font(16px, 19px, 300);
		color: $breadcrumb-link-color;
	}

	&__link_arrow {
		height: 14px;
		line-height: 16px;
	}

	&__link:hover {
		color: $product-price-color;
	}
}

@media (max-width: 374px) {
	.pagination {
		width: 79%;
	}
}