.products {
	&__wrapper {
		position: relative;
		@include flex-column-x-center;
		padding: 96px 0;
	}

	&__wrapper_product-page {
		padding: 129px 0 128px 0;
	}

	&__wrapper_catalog-page {
		padding: 51px 0 96px 0;
	}

	&__title {
		margin-bottom: 6px;
		@include font(30px, 36px);
		color: $black-color;
	}

	&__text {
		color: $grey-color;
	}

	&__inner {
		width: 100%;
		@include flex-x-center;
	}

	&__filter {
		position: absolute;
		top: 51px;
		left: 16px;
	}

	&__menu-inner {
		@include flex-space-between;
		flex-wrap: wrap;
		width: 296px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 360px);
		grid-gap: 30px;
		margin: 48px 0;
		width: 100%;
	}

	&__list_product-page {
		margin: 0;
	}

	&__list_catalog {
		margin: 65px 0 48px 0;
	}

	&__item {
		width: 360px;
		padding-bottom: 20px;
		background: #F8F8F8;
	}

	&__button {
		padding: 14px 38px;
	}
}

@media (max-width: $max-tablet-width) {
	.products {
		&__wrapper {
			padding: 155px 0 65px 0;
		}

		&__wrapper_product-page {
			padding: 129px 0 128px 0;
		}

		&__wrapper_catalog-page {
			padding: 24px 0 63px 0;
		}

		&__title {
			margin-bottom: 3px;
		}

		&__inner {
			justify-content: space-between;
		}

		&__filter {
			position: relative;
			top: 0;
			left: 0;
		}

		&__list {
			grid-template-columns: repeat(2, 360px);
			grid-gap: 16px;
			margin: 73px 0 33px 0;
		}

		&__list_product-page {
			margin: 0;
		}

		&__list_catalog {
			margin: 40px 0;
		}

		&__item_hidden {
			display: none;
		}
	}
}

@media (max-width: $max-mobile-width) {
	.products {
		&__wrapper {
			padding: 64px 0 96px 0;
		}

		&__wrapper_product-page {
			padding: 64px 0;
		}

		&__wrapper_catalog-page {
			padding: 24px 0 64px 0;
		}

		&__inner {
			width: 360px;
			align-items: center;
		}

		&__menu-inner {
			width: 260px;
		}

		&__list {
			grid-template-columns: repeat(1, 360px);
			margin: 65px 0 41px 0;
		}

		&__list_product-page {
			margin: 0;
		}

		&__list_catalog {
			margin: 32px 0 40px 0;
		}
	}
}

@media (max-width: 374px) {
	.products {
		&__inner {
			flex-direction: column-reverse;
			justify-content: flex-start;
			width: 100%;
		}

		&__menu-inner {
			width: 100%;
			margin: 0 0 15px 0;
		}

		&__menu {
			margin-bottom: 20px;
		}

		&__list {
			grid-template-columns: repeat(1, 100%);
		}

		&__item {
			width: 100%;
		}
	}
}