.registration {
	@include flex-space-between;
	padding: 64px 0 97px 0;

	&__form {
		width: 360px;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		margin-bottom: 31px;
	}

	&__radio-inner {
		margin-bottom: 33px;
	}

	&__radio-button {
		display: none;
	}

	&__radio-label {
		position: relative;
		margin: 0 20px 0 28px;
		@include font (11px, 13px, 300);
		color: $super-black-color;
	}

	&__radio-label:before {
		content: '';
		height: 16px;
		position: absolute;
		left: -28px;
		width: 16px;
		border: 1px solid #A4A4A4;
		border-radius: 50%;
	}

	&__radio-button:checked+&__radio-label:before {
		background: $pink-color;
		background-size: 16px 16px;
	}

	&__button {
		@include flex-space-between;
		min-width: 167px;
		margin-top: 39px;
		padding: 16px 24px 17px 29px;
		background-color: $pink-color;
		color: $white-color;
		text-transform: uppercase;
	}

	&__loyalty-program {
		width: 652px;
	}

}