.socials {
	width: 155px;
	display: flex;
	justify-content: space-between;

	.socials__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $white-color;
		width: 32px;
		height: 32px;
	}

	.socials__icon {
		fill: $super-black-color;
	}

	.socials__link:hover {
		background-color: $pink-color;
	}

	.socials__link:hover .socials__icon {
		fill: $white-color;
	}
}