.stocks {
	&__list {
		min-height: 470px;
		margin: 63px 0 0 0;
		@include flex-space-between;
		flex-wrap: wrap;
		align-content: space-between;
	}

	&__item {
		width: 31.6%;
		/* 360 px - desktop*/
		min-height: 260px;
		@include flex-x-y-center;
		flex-direction: column;
		background-color: rgba(33, 22, 22, 0.7);
		background-position: center;
		background-size: cover;
	}

	&__item_theme_women {
		background-image: url(../img/for-women.jpg);
	}

	&__item_theme_men {
		background-image: url(../img/for-man.jpg);
	}

	&__item_theme_kids {
		background-image: url(../img/for-kids.jpg);
	}

	&__item_theme_accesories {
		width: 100%;
		min-height: 180px;
		background-image: url(../img/accesories.jpg);
	}
}

@media (max-width: $max-tablet-width) {
	.stocks {
		&__list {
			min-height: 303px;
			margin: 20px 0 0 0;
		}

		&__item {
			width: 31.5%;
			/* 232 px */
			min-height: 168px;
		}

		&__item_theme_accesories {
			width: 100%;
			min-height: 116px;
		}
	}
}

@media (max-width: $max-mobile-width) {
	.stocks {
		&__list {
			min-height: 948px;
			margin: 64px 0 0 0;
			justify-content: center;
		}

		&__item {
			width: 100%;
			/* 343 px */
			min-height: 247px;
		}

		&__item_theme_accesories {
			width: 100%;
			min-height: 111px;
		}
	}
}