.stocks-item {
	&__text {
		@include font(16px, 19px);
		color: $white-color;
		text-transform: uppercase;
	}

	&__title {
		@include font(24px, 29px);
		color: $pink-color;
		text-transform: uppercase;
	}
}