.stocks {
	&__list {
		min-height: 470px;
		margin-top: 63px;
		@include flex-space-between;
		flex-wrap: wrap;
		align-content: space-between;
	}

	&__item {
		width: 360px;
		min-height: 260px;
		@include flex-x-y-center;
		flex-direction: column;
	}

	&__item_theme_women {
		background-image: url(../img/for-women.jpg);
	}

	&__item_theme_men {
		background-image: url(../img/for-man.jpg);
	}

	&__item_theme_kids {
		background-image: url(../img/for-kids.jpg);
	}

	&__item_theme_accesories {
		width: 100%;
		min-height: 180px;
		background-image: url(../img/accesories.jpg);
	}
}